<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Contoso University</span>
    <a mat-button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
    <a mat-button routerLink="/students" routerLinkActive="active" (click)="getStudents()">Students</a>
    <a mat-button routerLink="/courses" routerLinkActive="active">Courses</a>
    <a mat-button routerLink="/instructors" routerLinkActive="active">Instructors</a>
    <a mat-button routerLink="/departments" routerLinkActive="active">Departments</a>
  </mat-toolbar-row>
</mat-toolbar>
<div>
  <router-outlet>
  </router-outlet>
</div>