@import "../../../core/themes/theme-variables";

mat-toolbar span {
    padding-right: 1rem;
}

.active {
    background-color: $activeBottonBackgroundColor;
}

#routeBody, mat-toolbar {
    padding-left: 20%;
}

mat-toolbar-row {
    padding: 0;
}

