@import "../../../core/themes/theme-variables";

#create {
    padding-left: 0;
}

mat-header-cell {
    font-size: 0.9em;
    color: $white;
}

mat-header-row {
    background-color: $primary;
}

p a, mat-cell a {
    padding-right: 2.5em;
    color: $primary;
    cursor: pointer;
}

div {
    width: 60%;
}


